<h1>Sign Up</h1>

<%= form_tag("/signup", method: "post") do %>

  <%= label_tag('username', "Username:") %>
  <%= text_field_tag('username') %><br>

  <%= label_tag('password', "Password:") %>
  <%= text_field_tag('password') %><br>

  <%= submit_tag("Submit") %>

<% end %>
